 h1{ text-align: center; color: #00718F;text-decoration:overline	;
font-family: Brush Script MT, Brush Script Std, cursive;}
p{text-align: left;font-family: Andale Mono, monospace;color: black; }
h2{ text-align: left; color: #E48716;	
font-family: Brush Script MT, Brush Script Std, cursive;}
 h3{ text-align: center; color: #E48716;
font-family: Brush Script MT, Brush Script Std, cursive;}
